

.card-deck{
    
    color:rgb(124, 122, 241);
   
    border-radius: 10px;
   
}
.card-deck :hover{
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 6px;
    
    color:black;
}
.card-deck img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: transparent;
}

.card-body{
    
    border: transparent;
    border-radius: 20px;
}

.cardIn{
    border:transparent;
}

.btns{
    display: flex;
    justify-content: center;
}
